/* #region common */

/* font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wallpaper {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

:root {
    --ds-light: #f6f6f6;
    --ds-white: #ffffff;
    --ds-blackfooter: #23272a;
    --bg-grey: #f6f6f6;
    --ds-bluet: #8ea1e1;
    --ds--blutext: #6f85d3;
}

.container {
    width: 70%;
    margin: auto;
}

body {
    font-family: 'Whitney', sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    font-size: 20px;
}

/* #endregion common */

/* #region header  */

#flex-menu {
    display: flex;
    padding: 2rem 0;
}


#flex-menu .logo {
    /* max-width: 25%; */
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

#flex-menu .login {
    /* max-width: 25%; */
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    padding-right: 2rem;
}

.flex-nav {
    flex-grow: 4;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding: 1rem 4rem;
}

.flex-nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ds-white);
}

.login .jumbotron {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.jumbotron {
    width: 50%;
    margin: auto;
}

.jumbotron #jambo-text {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;

}

#jambo-text h1 {
    font-size: 3rem;
    font-family: 'Whitney', sans-serif;
    padding: 2rem;
}

#jambo-text {
    font-family: 'Whitney', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 3rem;
}

#jambotext p {
    font-family: 'Whitney', sans-serif;
    padding: 2rem;
}

.login button {
    padding: 0.8rem;
    background-color: var(--ds-white);
    border: none;
    border-radius: 2rem;
}

.btn.mac {
    background-color: var(--ds-white);
}

.btn.browser {
    background-color: var(--ds-blackfooter);
    color: var(--ds-white);
}

.container-btn {
    padding: 2rem;
}


/* #endregion header  */


/* #region debug */


.debug #flex-menu .logo,
.debug .flex-nav,
.debug .login {
    background-color: yellow;
    border: 1px dashed black;
}

.debug .flex-menu {
    background-color: aqua;
}

.debug #flex-text {
    height: 400px;
    width: 35%;
    background-color: blueviolet;
    border: 1px dashed black;
}

/* main debug */




.debug .detail-party {
    background: aliceblue;
    border: 1px dashed black;
    height: 100%;
}

.debug .img-party {
    height: 400px;
    background-color: rgb(135, 135, 255);
    border: 1px dashed black;
    width: 60%;
}

.debug .detail-big {
    background: aliceblue;
    border: 1px dashed black;
    height: 700px;
}

.debug .party {
    background-color: rgb(6, 6, 133);
    border: 1px dashed black;
}

.debug .col,
.debug .col-big {
    height: 500px;
    background-color: rgb(255, 213, 161);
    border: 1px dashed rgb(255, 255, 255);

}

.debug .flex-bottom {
    height: 40px;
    background-color: antiquewhite;
}

.debug .flex-bottom .logo {
    border: 1px dashed rgb(255, 255, 255);
    height: 20px;
}

/* #endregion debug */

/* #region main */
.back-grey {
    background-color: var(--ds-light)
}

.back-white {
    background-color: var(--ds-white)
}


.back-grey,
.back-white {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.find,
.invite,
.fandom {
    display: flex;
    margin: 2rem;
}

.detail {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    justify-content: center;
}

.detail h2 {
    font-size: 3rem;
}

.detail p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 2rem 0;
}

.big .detail {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.ready p {
    font-size: 2rem;
    padding: 0;
}

.ready {
    padding: 2rem;
}

.signup {
    background-color: var(--ds-bluet);
    color: var(--ds-white);
}

.download {
    background-color: var(--ds-bluet);
    color: var(--ds-white);
    margin: auto;
}

/* non credo serva, controllare */
.detail-party,
.text-invite {
    width: 40%;
}



.detail-big {
    width: 100%;
}

.big {
    margin: 2rem;
}

.img-party {
    width: 60%;
}

.back-grey .img-party {
    order: 2;
}

.wave_top {
    color: var(--bg-grey);
    margin: -5px;
}

.wave_bottom {
    color: var(--bg-grey);
    margin: -5px;
    rotate: 180deg;
}

/* #endregion main */

/* #region footer */

#app-footer {
    background-color: var(--ds-blackfooter);
    padding-bottom: 2rem;
}

ul {
    list-style: none;
}

li>h2 {
    font-size: 2rem;
    color: var(--ds--blutext);
}

li>h3 {
    color: var(--ds--blutext);
}

ul>li {
    color: var(--ds-white);
    padding: 0.5rem 0;
}

ul li:first-child {
    padding: 0 5% 1rem 0;
}

.flex-top {
    display: flex;
    padding: 3rem 0;
    border-bottom: 1px solid #374058;
}

.col-big {
    width: 30%;
    color: var(--ds-white);
}

.social li {
    padding: 1rem;
}

.col {
    width: calc(100%/5);
}

.flex-bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.italia {
    max-width: 9%;
}

/* #endregion footer */